@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

html, body {
    min-height: 100%;
}

body {
    color: white;
    background: url('/img/background.png') no-repeat center center fixed;
}

.navbar-default {
    .navbar-brand {
        margin-top: 35px;
    }

    .navbar-toggle {
        .icon-bar {
            background: rgba(255, 255, 255, .6);
        }

        &:hover, &:focus {
            .icon-bar {
                background: rgba(255, 255, 255, .9);
            }

            border-color: rgba(255, 255, 255, .9);
            background: rgba(255, 255, 255, .1)
        }

        border-color: rgba(255, 255, 255, .6);
        margin-top: 60px;
    }

    .navbar-collapse {
        li {
            &:hover, &:focus, &.active, &.active:hover {
                a {
                    background: transparent;
                    color: #fff;
                }
            }
            a {
                color: rgba(255, 255, 255, .5);
                font-size: 1.3em;
                font-weight: normal;
            }
        }

        border-color: #1e1e1e;
        margin-top: 55px;
        background: rgba(44, 44, 44, 1);
    }

    z-index: 99;
    background: rgba(44, 44, 44, .7);
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-color: #1e1e1e;
    height: 160px;
}

.maincontent {
    .title {
        margin: 0 0 20px;
        font-weight: bold;
        color: white;
    }

    .content {
        p {
            a {
                color: #d91f26;
                text-decoration: underline;
                font-weight: bold;
            }

            font-size: 1.2em;
        }
        color: #fff;
    }

    .btn-custom {
        &:hover {
            background: rgba(255, 255, 255, .2);
            border: 1px solid rgba(255, 255, 255, .8);
        }

        display: block;
        color: #fff;
        background: rgba(255, 255, 255, .05);
        border: 1px solid rgba(255, 255, 255, .4);
        border-radius: 0;
        font-size: 1.3em;
        padding: 10px 0;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .table-responsive {
        border: 0;
    }

    .donator {
        tr td {
            padding: 2px 0;
            border: 0;
        }

        margin: auto;
        max-width: 300px;
        font-size: 1.3em;
    }

    .donator {
        .amount {
            width: 80px;
        }
        .number {
            width: 30px;
        }
    }

    padding: 20px;
    background: rgba(44, 44, 44, .7);
    border: 1px solid #1e1e1e;
}

.servers {
    .item {
        padding: 20px 0 10px;
        border-top: 2px solid rgba(255, 255, 255, .5);
    }
    .small-title {
        font-size: 1.4em;
        font-weight: bold;
    }

    img {
        margin: 0 0 10px;
    }

    .desc {
        font-size: 1.2em;
    }
    color: white;
}

.ranks {
    li {
        padding: 5px 0;
        text-shadow: 2px 2px 4px #000000;
    }

    color: white;
    background: #242424;
    font-size: 1.2em;
    list-style: none;
    padding: 20px;
    margin: 0;
}

.wrap {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -80px;
}

.pushfooter {
    height: 80px;
}

.footer {
    p {
        color: #fff;
        padding: 20px 0 0;
    }

    margin-top: 20px;
    height: 60px;
    background: #191919;
}

.player_stats {
    .form-group, .input-group {
        width: 100%;
    }

    .input-group {
        .input-group-addon, .form-control {
            border: 0;
        }

        .input-group-addon, .form-control, .btn-search {
            background: rgba(255, 255, 255, .15);
            border-radius: 0;
            color: #fff;
        }

        .input-group-addon {
            width: 165px;
        }

        .input-group-btn {
            width: 70px;
            border: 0;
        }

        .btn-search {
            width: 100%;
            margin: 0;
            border-color: transparent;
            border-left: 1px solid rgba(255, 255, 255, .15);
        }

        border: 1px solid rgba(255, 255, 255, .3);
    }

    .server-ranking {
        small {
            font-size: .8em;
            color: rgba(255, 255, 255, .6);
        }

        line-height: 90%;
        font-weight: bold;
        font-size: 2em;
        padding: 20px 0 30px;
    }

    .avatar {
        img {
            width: 140px;
            height: 140px;
            border-radius: 70px;
        }
        padding: 0 0 20px;
    }

    .title {
        font-size: 2em;
    }

    .details {
        .data {
            padding: 0 0 20px;
        }
        font-size: 1.2em;
    }

    h2 {
        border-bottom: 2px solid rgba(255, 255, 255, .5);
    }

    .map-completed-details {
        table {
            border: 1px solid #1A1918;
        }

        tr {
            th, td {
                border: 0;
            }

            th {
                background: #242321;
            }

            &:hover {
                &:nth-child(odd) {
                    background: rgba(0, 0, 0, .2);
                }
                background: transparent;
            }

            &:nth-child(odd) {
                background: rgba(0, 0, 0, .1);
            }

            background: rgba(255, 255, 255, .03);
        }

        .tier, .time {
            text-align: center;
        }

        .tier {
            width: 55px;
        }

        .time, .rank {
            width: 70px;
        }

        .comp {
            width: 93px;
        }
    }

    max-width: 900px;
    margin: auto;
}

@media (max-width: @screen-sm-max) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        &.collapse {
            display: none !important;
        }

        &.collapse.in {
            display: block !important;
        }

        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    }

    .navbar-nav {
        & > li {
            & > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            float: none;
        }

        float: none !important;
        margin: 7.5px -15px;
    }

    .collapsing {
        overflow: hidden !important;
    }
}

@media (min-width: @screen-sm-min) {
    .player_stats {
        .userinfo {
            padding: 30px 0 0;
        }

        .server-ranking, .avatar {
            padding: 0 10px;
            vertical-align: middle;
            display: inline-block;
        }

        .title {
            margin-top: 30px;
        }
    }
}

@media (min-width: @screen-md-min) {
    .navbar-default {
        .navbar-collapse {
            background: transparent;
        }
    }

    .servers {
        .btn-custom {
            margin-top: 20px;
        }
    }

    .player_stats {
        .userinfo {
            padding: 30px 0 0;
        }

        .server-ranking, .avatar {
            padding: 0 10px;
            vertical-align: middle;
            display: inline-block;
        }

        .title {
            margin: 0 0 20px;
            text-align: left;
        }

        .details {
            .type, .data {
                display: inline-block;
            }

            .type {
                width: 100px;
                text-align: right;
            }

            .data {
                padding: 0 0 0 10px;
            }

            text-align: left;
            font-weight: bold;
            color: #ccc;
        }
    }
}

@media (max-width: @screen-xs-max) {
    .player_stats .input-group .input-group-addon {
        width: 75px;
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
