@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

html, body {
    min-height: 100%;
}

body {
    background: url('/img/background.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-default {
    .navbar-brand {
        margin-top: 35px;
    }

    .navbar-toggle {
        .icon-bar {
            background: rgba(255, 255, 255, .6);
        }

        &:hover, &:focus {
            .icon-bar {
                background: rgba(255, 255, 255, .9);
            }

            border-color: rgba(255, 255, 255, .9);
            background: rgba(255, 255, 255, .1)
        }

        border-color: rgba(255, 255, 255, .6);
        margin-top: 60px;
    }

    .navbar-collapse {
        li {
            &:hover, &:focus, &.active, &.active:hover {
                a {
                    background: transparent;
                    color: #fff;
                }
            }
            a {
                color: rgba(255, 255, 255, .5);
                font-size: 1.3em;
                font-weight: normal;
            }
        }

        border-color: #1e1e1e;
        margin-top: 55px;
        background: rgba(44, 44, 44, 1);
    }

    z-index: 99;
    background: rgba(44, 44, 44, .7);
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-color: #1e1e1e;
    height: 160px;
}

.maincontent {
    .title {
        margin: 0 0 20px;
        font-weight: bold;
        color: white;
    }

    .content {
        p {
            a {
                color: #d91f26;
                text-decoration: underline;
                font-weight: bold;
            }

            font-size: 1.2em;
        }
        color: #fff;
    }

    .btn-custom {
        &:hover {
            background: rgba(255, 255, 255, .2);
            border: 1px solid rgba(255, 255, 255, .8);
        }

        display: block;
        color: #fff;
        background: rgba(255, 255, 255, .05);
        border: 1px solid rgba(255, 255, 255, .4);
        border-radius: 0;
        font-size: 1.3em;
        padding: 10px 0;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .table-responsive {
        border: 0;
    }

    table {
        tr td {
            padding: 2px 0;
            border: 0;
        }

        margin: auto;
        max-width: 300px;
        font-size: 1.3em;
    }

    .donator {
        .amount {
            width: 80px;
        }
        .number {
            width: 30px;
        }
    }

    padding: 20px;
    background: rgba(44, 44, 44, .7);
    border: 1px solid #1e1e1e;
}

.servers {
    .item {
        padding: 20px 0 10px;
        border-top: 2px solid rgba(255, 255, 255, .5);
    }
    .small-title {
        font-size: 1.4em;
        font-weight: bold;
    }

    img {
        margin: 0 0 10px;
    }

    .desc {
        font-size: 1.2em;
    }
    color: white;
}

.ranks {
    li {
        padding: 5px 0;
        text-shadow: 2px 2px 4px #000000;
    }

    color: white;
    background: #242424;
    font-size: 1.2em;
    list-style: none;
    padding: 20px;
    margin: 0;
}

.wrap {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -80px;
}

.pushfooter {
    height: 80px;
}

.footer {
    p {
        color: #fff;
        padding: 20px 0 0;
    }

    margin-top: 20px;
    height: 60px;
    background: #191919;
}

@media (max-width: @screen-sm-max) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        &.collapse {
            display: none !important;
        }

        &.collapse.in {
            display: block !important;
        }

        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    }

    .navbar-nav {
        & > li {
            & > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            float: none;
        }

        float: none !important;
        margin: 7.5px -15px;
    }

    .collapsing {
        overflow: hidden !important;
    }
}

@media (min-width: @screen-md-min) {
    .navbar-default {
        .navbar-collapse {
            background: transparent;
        }
    }

    .servers {
        .btn-custom {
            margin-top: 20px;
        }
    }
}
